* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --main-blue: #245EDB;
    --light-blue: #3C95EA;
    --white-shadow: #5b8df1;
    --sea-blue: #0059FF;
}

html {
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}


.Desktop {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/images/main/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ===== OPEN WINDOW ====== */

.Open.Window {
    position: absolute;
    top: 0px;
    width: 500px;
    height: 500px;
    border: 2px solid var(--sea-blue);
    border-radius: 3.5px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.Open.Window .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    padding: 2px;
    box-shadow: inset 10px 15px 5px -10px var(--white-shadow);
    background: linear-gradient(var(--sea-blue), var(--main-blue));
}

.Open.Window .Header .App.Title {
    display: flex;
    align-items: center;
    color: white;
}

.Open.Window .Header img {
    width: 32px;
    height: 32px;
}

.Open.Window .Header .Window.Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 120px;
    height: 100%;
}

.Open.Window .Header .Window.Buttons > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
}

.Open.Window .Header .Window.Buttons > button > img{
    width: 100%;
    height: 100%;
}

.Open.Window > object {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#taskbar {
    overflow: hidden;
}

.TaskBar .Open.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 10px;
    border-radius: 3px;
    background: #3880F4;
    box-shadow: inset 0px 5px 10px #68a4ff;
}

.TaskBar .Open.Footer > img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.TaskBar .Open.Footer > span {
    font-size: 12px;
    color: white;
}

