* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Desktop {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100vw;
    height: 100vh;
    background-image: url("images/main/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ======== DESKTOP APPS =========== */



/* ======== MENU SET =========== */

.Menu {
    width: 400px;
    height: 550px;
    position: absolute;
    bottom: 55px;
    font-family: Tahoma, sans-serif;
    text-shadow: none;
    display: block;
}

.Menu .Top {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 15%;
    border-radius: 0px 20px 0px 0px;
    background: linear-gradient(#095BC8, #3C95EA);
    box-shadow: inset 0px 15px 4px -10px rgb(138, 175, 255);
}

.Menu .Top .Icon {
    max-width: 60px;
    max-height: 60px;
    overflow: hidden;
    margin-left: 15px;
    border: 3px solid rgb(221, 221, 221);
    border-radius: 15px;
}

.Menu .Top .Icon img {
    width: 100%;
    height: 100%;
}

.Menu .Top .Username {
    margin-left: 15px;
    font-size: 25px;
    color: white;
}

.Menu .Middle {
    display: flex;
    background: white;
    height: 73%;
}

.Menu .Middle .Left.Side {
   display: flex;
   flex-direction: column;
   width: 45%;
   height: 100%;
}

.Menu .Middle .Left.Side img {
    width: 42px;
    height: 42px;
 }

.Menu .Middle .Left.Side .Left-session {
    display: flex;
    flex-direction: column;
 }

 .Menu .Middle .Left.Side > session:nth-child(1) {
    height: 90%;
 }

 .Menu .Middle .Left.Side .Cell.Closed {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 4px;
    padding: 3px;
    font-size: 12.5px;
    font-weight: lighter;
 }

 .Menu .Middle .Left.Side > session:nth-child(2) {
    display: flex;
    align-items: center;
    height: 20%;
    border-top: 1px solid grey;
 }

 .Menu .Middle .Left.Side > session:nth-child(2) .All.program.session {
    display: grid;
    place-items: center;
    margin-top: 15px;
    width: 100%;
 }

 .Menu .Middle .Left.Side > session:nth-child(2)  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 50px;
    width: 150px;
    font-size: 13px;
    font-weight: 500;
    background: white;
    border: none;
    box-shadow: none;
 }

 .Menu .Middle .Left.Side > session:nth-child(2) img {
    width: 18px;
    height: 18px;
 }

.Menu .Middle .Right.Side {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    background: #D7E7F8;
    border-left: 1px solid grey;
}

.Menu .Middle .Right.Side > session {
    flex-direction: column;
    font-size: 12.5px;
    border-top: 1px solid grey;
}

.Menu .Middle .Right.Side > session:nth-child(1)  {
    height: 40%;
    font-weight: bolder;
}

.Menu .Middle .Right.Side > session:nth-child(2)  {
    height: 30%;
    border-top: 1px solid grey;
}

.Menu .Middle .Right.Side .session:nth-child(3)  {
    height: 28%;
    border-top: 1px solid grey;
}

.Menu .Middle .Right.Side .Cell.Closed {
    height: 37.5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.Menu .Middle .Right.Side .Cell.Closed img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.Menu .Bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #245EDB;
    height: 13%;
    color: white;
}

.Menu .Bottom .Buttons {
    display: flex;
    height: 80%;
    width: 250px;
    margin-right: 10px;
}

.Menu .Bottom .Buttons .Button.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.Menu .Bottom .Buttons button {
    display: flex;
    max-width: 40px;
    height: 40px;
}

.Menu .Bottom .Buttons button img {
    max-width: 40px;
    max-height: 40px;
    object-fit: cover;
}

.Menu .Bottom .Buttons .Log-off {
    flex: 1;
}

.Menu .Bottom .Buttons .Turn-off {
    flex: 1.2;
}

/* ======== WINDOWS BAR =========== */

.TaskBar {
    display: flex;
    position: relative;
    width: 100vw;
    height: 50px;
    background: #245EDB;
    box-shadow: inset 0px 15px 4px -10px #6092ff;
    font-family: Tahoma, sans-serif;
    text-shadow: 1px 1px black;
}

.TaskBar #Windows-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: -25px;
    width: 150px;
    height: 100%;
    border-radius: 20px;
    border: none;
    background: green;
    box-shadow: inset 0px 15px 4px -10px rgb(58, 189, 58);
}

.TaskBar .Button.inner.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
    margin-left: 10px;
}

.TaskBar .Button.inner.content img {
    width: 30px; 
    height: 30px;
}

.TaskBar .Button.inner.content span {
    font-size: 28px;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px black;
}

.TaskBar .App-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    display: none;
    gap: 10px;
    width: 160px;
    border: 2px solid black;
    position: relative; 
    left: 110px;
}

.TaskBar .Time.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    width: 150px;
    height: 100%;
    background: rgb(0, 89, 255);
    box-shadow: inset 0px 15px 4px -10px rgb(58, 127, 255);
    color: white;
} 

/* ===== OPEN WINDOW ====== */

.Open.Window {
    position: absolute;
    top: 0px;
    width: 500px;
    height: 500px;
    border: 2px solid rgb(0, 47, 255);
    overflow: hidden;
}

.Open.Window .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    box-shadow: inset 0px 15px 4px -10px rgb(58, 127, 255);
    background: rgb(0, 89, 255);
}

.Open.Window .Header .App.Title {
    display: flex;
    align-items: center;
    color: white;
}

.Open.Window .Header img {
    width: 32px;
    height: 32px;
}

.Open.Window .Header .Window.Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 120px;
    height: 100%;
}

.Open.Window .Header .Window.Buttons button {
    width: 30px;
    height: 30px;
    background: white;
}

.Open.Window > object {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* FLOATING WINDOWS 



.Desktop #Paint-window {
    width: 40%;
    height: 85%;
    position: absolute;
    overflow: hidden;
    display: none;
    border: 3px solid rgb(30, 87, 192);
    border-radius: 5px;
}

.Desktop #Paint-window #Paint-header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#245EDB ,#0059ED);
    box-shadow: inset 0px 15px 4px -10px #6092ff;
    height: 6%;
}

.Desktop #Paint-window #Paint-header .File-title {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    margin-left: 5px;
    color: white;
}

.Desktop #Paint-window #Paint-header .File-title  img{
    max-width: 50%;
    max-height: 50%;
}

.Desktop #Paint-window #Paint-header .Window-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    width: auto;
    height: 100%;
}

.Desktop #Paint-window #Paint-header  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    padding: 12px;
    text-align: center;
    font-weight: bolder;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background: rgb(44, 128, 238);
}

.Paint-container {
    width: 100%;
    height: 100%;
    font-family: Tahoma, sans-serif;
}

.Paint-container .Header-menu {
    display: flex;
    align-items: center;
    height: 3%;
    background: #E5E2D1;
    border-bottom: 1px solid grey;
}

.Paint-container .Header-menu > ul {
    display: flex;
    list-style-type: none;
    margin-left: 1rem;
    gap: 1.5rem;
    font-size: 0.80rem;
}

.Paint-container .Center {
    display: flex;
    height: 81%;
    background: #E5E2D1;
}

.Paint-container .Center .Left-tools {
    display: grid;
    grid-template-columns: 30px 30px;
    grid-template-rows: repeat(16, 30px);
    justify-content: center;
    margin-top: 15px;
    width: 10%;
    padding: 5px;
    height: 100%;
    background: #E5E2D1;
}

.Paint-container .Center .Left-tools .tool {
    border: none;
}

.Paint-container .Center .Left-tools .tool button {
    display: flex;
    width: 100%;
    height: 100%;
}

.Paint-container .Center .Left-tools .tool button img{
    max-width: 25px;
    max-height: 25px;
    align-self: center;
    justify-self: center;
}

.Paint-container .Center .Left-tools .Panel-for-tools {
    width: 60px;
    height: 100px;
    margin-top: 15px;
    border: 1px solid rgb(187, 178, 178);
}

.Paint-container .Center .Canvas {
    width: 95%;
    height: 100%;
    border: 2px solid grey;
    background: linear-gradient(90deg, red, blue)
}

.Paint-container .Bottom {
    display: flex;
    align-items: center;
    height: 10%;
    background: #E5E2D1;
    position: relative;
}

.Paint-container .Bottom .Color-panel {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: absolute;
    left: 9.75%;
}

.Paint-container .Bottom .Selectioned-color {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
}

.Paint-container .Bottom .Selectioned-color #Selectioned-1 {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.Paint-container .Bottom .Selectioned-color #Selectioned-2 {
    border: 2px solid black;
    width: 20px;
    height: 20px;
}

.Paint-container .Bottom .Color-panel .Available-colors {
    display: grid;
    grid-template-columns: repeat(14, 20px);
    grid-template-rows: repeat(2, 20px);
    gap: 5px;
    width: 140px;
    height: 40px;
}

.Paint-container .Bottom .Color-panel .Available-colors .color {
    border: none;
    box-shadow: inset 1px 2px black;
}


.Desktop #Internet-window {
    width: 50%;
    height: 85%;
    overflow: hidden;
    display: none;
    top: 0px;
    position: absolute;
    border: 2px solid blue;
    background: linear-gradient(white, blue);
}

.Desktop #Internet-window #Internet-header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#245EDB ,#0059ED);
    box-shadow: inset 0px 15px 4px -10px #6092ff;
    height: 6%;
}

.Desktop #Internet-window #Internet-header .File-title {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    margin-left: 5px;
    color: white;
}

.Desktop #Internet-window #Internet-header .File-title  img{
    max-width: 50%;
    max-height: 50%;
}

.Desktop #Internet-window #Internet-header .Window-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    width: auto;
    height: 100%;
}

.Desktop #Internet-window #Internet-header  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    padding: 12px;
    text-align: center;
    font-weight: bolder;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background: rgb(44, 128, 238);
}

.Internet.Container {
    height: 94%;
    background: white;
}

.Internet.Container .Header-menu {
    display: flex;
    align-items: center;
    height: 3%;
    background: #E5E2D1;
    border-bottom: 1px solid grey;
}

.Internet.Container .Header-menu > ul {
    display: flex;
    list-style-type: none;
    margin-left: 1rem;
    gap: 1.5rem;
    font-size: 0.80rem;
}

.Internet.Container .Panel {
    display: flex;
    align-items: center;
    background: #F0EBD8;
    gap: 25px;
}


.Internet.Container .Panel nav {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Internet.Container .Panel button {
    max-width: 30px;
    max-height: 30px;
    background: transparent;
    border: none;
}

.Internet.Container .Panel button img {
    width: 100%;
    height: 100%;
}

.Internet.Container .Panel .Session {
    display: flex;
    gap: 15px;
}

.Internet.Container .Panel.two {  
    height: 5%;
}

.Internet.Container .Panel.three  {
    height: 4%;
}

.Internet.Container .Panel.three .Search-box {
    position: relative;
}

.Internet.Container .Panel.three input  {
    width: 900px;
    height: 25px;
}

.Internet.Container .Panel.three #Little-arrow  {
    background: lightblue;
    position: absolute;
    border: 1px solid white;
    right: 0px;
    top: 0px;
}

.Internet.Container .Panel.three #Little-arrow i  {
    font-size: 20px;
}

.Internet.Container .Panel.two i {
    font-size: 10px;
}

.Internet.Container .Main.Panel {
    background: white;   
    height: 95%;
}

.Internet.Container .Bottom.Panel {
    height: 5%;
}




*/