* {
    box-sizing: 'border-box';
    padding: 0;
    margin: 0;
    font-size: 100%;
}

.Paint-container {
    width: 100vw;
    height: 100vh;
    font-family: Tahoma, sans-serif;
    border: 2px solid red;
}

.Paint-container .Paint-top-UI {
    background: linear-gradient(#245EDB ,#0059ED);
    box-shadow: inset 0px 15px 4px -10px #6092ff;
    height: 6%;
}


.Paint-container .Paint-top-UI .File-title {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    margin-left: 5px;
    color: white;
}

.Paint-container .Paint-top-UI .File-title  img{
    max-width: 50%;
    max-height: 50%;
}

.Paint-container .Paint-top-UI .File-title span {
    display: flex;
}

.Paint-container .Paint-top-UI .Windows-buttons {
    border: 2px solid black;
    width: 200px;
    height: 100%;
}

.Paint-container .Header-menu {
    display: flex;
    align-items: center;
    height: 1.8rem;
    background: rgb(241, 241, 219);
}

.Paint-container .Header-menu > ul {
    display: flex;
    list-style-type: none;
    margin-left: 1rem;
    gap: 1.5rem;
    font-size: 0.80rem;
}

.Paint-container .Center {
    display: flex;
    border: 2px solid black;
    height: 80%;
}

.Paint-container .Center .Left-tools {
    display: grid;
    grid-template-columns: 30px 30px;
    grid-template-rows: repeat(16, 30px);
    justify-content: center;
    margin-top: 15px;
    width: 5%;
    padding: 5px;
    height: 100%;
}

.Paint-container .Center .Left-tools .tool {
}

.Paint-container .Center .Left-tools .tool button {
    display: flex;
    width: 100%;
    height: 100%;
}

.Paint-container .Center .Left-tools .tool button img{
    max-width: 25px;
    max-height: 25px;
    align-self: center;
    justify-self: center;
}

.Paint-container .Center .Left-tools .Panel-for-tools {
    width: 60px;
    height: 100px;
    margin-top: 15px;
    background: red;
    border: 1px solid rgb(187, 178, 178);
}

.Paint-container .Center .Right-canvas {
    width: 95%;
    height: 100%;
    border: 2px solid grey;
}

.Paint-container .Bottom {
    background: red;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

.Paint-container .Bottom .Color-panel {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 380px;
    height: 50px;
    margin-left: 10px;
    background: white;
    border: 2px solid black;
}

.Paint-container .Bottom .Selectioned-color {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.Paint-container .Bottom .Color-panel .Available-colors {
    display: grid;
    grid-template-columns: repeat(14, 20px);
    grid-template-rows: repeat(2, 20px);
    gap: 2px;
    width: 140px;
    height: 40px;
    background: white;
}

.Paint-container .Bottom .Color-panel .Available-colors .color {
    border: 2px solid black;
}