* {
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #F1EEE2;
}

.Main {
    width: 100vw;
    height: 100vh;
    font-family: Tahoma, sans-serif;
}

.Header {
    display: flex;
    align-items: center;
    height: 3%;
    background: var(--main-color);
    box-shadow: inset 0px -1px 3px grey;
}

.Header > ul {
    display: flex;
    gap: 50px;
    margin-left: 10px;
    list-style: none;
}

.Center {
    display: grid;
    grid-template-columns: 5% 95%;
    width: 100%;
    height: 78%;
}

.Center > div {
    background: var(--main-color);
}

.Center .Tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.Center .Tools > section:nth-child(1) {
    margin-top: 10px;
}

.Center .Tools > section > div {
    display: flex;
    padding: 5px;
    gap: 5px;
}

.Center .Tools > section > div > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.Center .Tools > section >  div > button > img {
    width: 100%;
    height: 100%;
}

.Center .Tools .Square.Area {
    width: 50px;
    height: 100px;
    box-shadow: inset 1px 1px 5px rgb(181, 181, 181);
}

.Center .Canvas {
    border: 2px solid grey;
    background: white;
}

.Bottom {
    display: flex;
    align-items: center;
    gap: 1%;
    height: 12%;
    width: 100%;
    border-top: 1px solid grey;
    background: var(--main-color);
}

.Bottom .Color.Picker {
    width: 50px;
    height: 50px;
    margin-left: 0.8%;
    box-shadow: inset 5px 5px 10px grey;
}

.Bottom .Colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, 7%);
    grid-template-rows: repeat(2, 50%);
    gap: 5px;
    width: 20%;
    height: 50%;
}

.Bottom .Colors > div {
    box-shadow: inset 2px 2px black;
}


/* CSS EVENTS */ 

.Bottom .Colors > div:hover, 
.Center .Tools > section > div > button:hover, 
.Header > ul > li:hover {
    cursor: pointer;
    color: white;
}
