* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Header {
    display: flex;
    align-items: center;
    padding: 1%;
    height: 5vh;
    background: rgb(219, 219, 216);
}

.Header > ul {
    display: flex;
    gap: 50px;
    list-style: none;
}


textarea  {
    width: 100%;
    height: 95vh;
    display: flex;
    outline: none;
    padding: 2%;
    align-items: center;
    justify-content: start;
}
