* {
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #F1EEE2;
}
.Main {
    width: 100vw;
    height: 100vh;
    font-family: 'Tahoma', sans-serif;
}

input {
    width: 400px;
}

.Header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3%;
    font-size: 15px;   
    box-shadow: inset 0px -1px 3px grey;
    background: var(--main-color);
}

.Header > ul {
    display: flex;
    gap: 20%;
    margin-left: 5px;
    list-style: none;
}

.Top.Menu {
    display: flex;
    width: 100%;
    height: 8%;
    background: var(--main-color);
}

.Top.Menu > section,
.Top.Menu > section > div {
    display: flex;
    align-items: center;
}

.Top.Menu > section > div > img {
    width: 45px;
    height: 45px;
}

.Top.Menu .Section.One,
.Top.Menu .Section.Two {
    border-right: 1px solid grey;
}

.Top.Menu .Section.One {
    width: auto;
    gap: 20px;
}

.Top.Menu .Section.One > div {
    height: auto;
}

.Top.Menu .Section.One #next {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.Top.Menu .Section.One i {
    font-size: 12px;
}

.Top.Menu .Section.Two {
    width: auto;
    gap: 25px;
}

.Top.Menu .Section.Two > div {
    padding: 20px;
    gap: 5px;
}

.Search {
    display: flex;
    align-items: center;
    height: 4%;
    background: var(--main-color);
    box-shadow: inset 0px -1px 3px grey;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 85%;
    width: 100%;
    background: white;
}

.Content .Google-Header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 5%;
    top: 0px;
}

.Content .Google-Header > ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.Content .Google.Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.Content .Google.Buttons > img {
    width: 35%;
}

.Content .Google.Buttons > input {
    width: 40%;
    height: 20%;
    outline: none;
    padding: 5px;
    font-size: 15px;
}


.Content .Submit {
    width: 100px;
    height: 50px;
}

/* CSS EVENTS */

.Top.Menu > section > div > img:hover, 
.Header > ul > li:hover {
    cursor: pointer;
    color: white;
}