* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.Header {
    display: flex;
    align-items: center;
    padding: 1%;
    height: 3vh;
    background: rgb(219, 219, 216);
}

.Header > ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.Content {
    height: 80vh;
    background: black;
}

.Player {
    height: 8vh;
    background: rgb(239, 239, 239);
}

.Player .Media {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3vh;
    padding: 1px;
}

.Player .Media > .Slider, 
.Player .Buttons > div:nth-child(2) > section:nth-child(2) {
    width: 20px;
    height: 20px;
    position: relative;
    background: rgb(239, 239, 239);
    box-shadow: 2px 2px black;
}

.Player .Media > div:nth-child(2) {
    width: 100%;
    height: 1%;
    background: black;
}

.Player .Buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.Player .Buttons > div:nth-child(1), 
.Player .Buttons > div:nth-child(2) {
    display: flex;
    align-items: center;
}

.Player .Buttons > div:nth-child(1) {
    width: auto;
    height: 100%;
}

.Player .Buttons > div:nth-child(1) > section{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    padding: 5px;
    border-right: 1px solid grey;
}

.Player .Buttons > div:nth-child(1) > section > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-left: 3px;
    background: none;
    border: none;
}

.Player .Buttons > div:nth-child(1) > section > button > i {
    font-size: 25px;
}

.Player .Buttons > div:nth-child(1) > section > button > #square {
    font-size: 15px;
}

.Player .Buttons > div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}


.Player .Buttons > div:nth-child(2) >  section > i {
    font-size: 27px;
}


    
.Player .Buttons > div:nth-child(2) > section:nth-child(3) {
    background: rgb(0, 0, 0);
    width: 75%;
    height: 1%;
}
    